/*Variables de tipografia y colores*/

/*Colores*/
$color-principal: #ffffff;
$color-secundario: #04AA6D;
$color-navbar_principal: #ffffff;
$color-navbar_secundario: #333333;
$color-footer: #333333;
$color-sidebar: #E7E9EB;

/*Tipografia*/

$font-principal: "Poppins", sans-serif;