
@use "./../utils/mixin" as mixin;
@use "./../utils/variables" as var;

.header {
  @include mixin.flex-column(center, center, 1rem);
  width: 100%;
  max-height: auto;
  background-color: var.$color-navbar_principal;
  border: none;


  .header_content {
    @include mixin.flex-row(space-between, center, 1rem);
    width: 100%;
    background-color: var.$color-navbar_principal;
    border: none;
  }

  .start {
    @include mixin.flex-row(space-between, center, 1rem);
    width: 100%;
    height: auto;
    background-color: var.$color-navbar_principal;
    border: none;
  }

  .links_header {
    display: none;
  }

  .search_bar {
    display: none;
  }
  
  .search_bar_button {
    display: none;
  }

  .little_dots {
    display: none;
  }



} 